*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif
}

body {background-color:#3e0748}


.header {
    padding: 60px;
    text-align: center;
    color: white;
    font-size: 30px;
  }


  .body 
  {
      font-family: arial;
      padding:10px;
      justify-content: center;
      align-content: center;
      color:white;
  }
  .header
  {
      padding:15px;
      font-size: 20px;
      justify-content: center;
      align-content: center;
      color:white;
  }

  .footer
  {
      padding:20px;
      justify-content: center;
      text-align:center;
      margin-top:15px;
      color:white;
  }

   .card, .h2
   {
       color:white;
       align-content: center;
       justify-content: center;
   }

  @media screen and (max-width:800px)
  {
      .leftcolumn .rightcolumn
      {
          width:100%;
          padding:0;
      }
  }